.lobster {
  /* height and width of 50px */
  /* background color red */
  height: 100px;
  width: 100px;
  z-index: 100;
  position: absolute;
}

.clockwise {
  animation: clockwise 1.5s infinite linear;
}

.counter-clockwise {
  animation: counter-clockwise 1.5s infinite linear;
}

@keyframes clockwise {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes counter-clockwise {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }

}